{#<!DOCTYPE html>#}
{#<html lang="eng">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <link rel="stylesheet" href={{url_for('static' , filename = 'css/normalize.css')}}>#}
{#    <link rel="stylesheet" href={{url_for('static' , filename = 'css/grid.css')}}>#}
{#    <link rel='stylesheet' href={{url_for('static' , filename = 'css/styleSucc.css')}}>#}
{##}
{#    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
{#    <title>Results Page</title>#}
{##}
{#    <style type="text/css">#}
{#        th{#}
{#            text-align: center;#}
{#            font-size: 20px;#}
{#        }#}
{##}
{#        td{#}
{#            text-align: center;#}
{#            font-size: 18px;#}
{#        }#}
{#    </style>#}
{#</head>#}
{#<body>#}
{#<div class = "second-main" style = "height: 100%; width : 100%;">#}
{#    <nav>#}
{#        <ul style = "padding-right: 2%;" class = "main-nav">#}
{#            <li><a href ="/">HomePage</a></li>#}
{#        </ul>#}
{##}
{#    </nav>#}
{#    <div class = "header">#}
{#        <row style = "width: 100% ; display: flex; justify-content: center;">#}
{#            <h3 class="header-text">Uploaded Image</h3>#}
{#        </row>#}
{#        <row style = "width: 100% ; display: flex; justify-content: center;">#}
{#            <img class = "result-img" src={{url_for('static', filename = 'images/'+ img)}}>#}
{#        </row>#}
{#    </div>#}
{##}
{#    <div class = "info">#}
{##}
{#        <div style = "width: 100% ; display: flex; justify-content: center;">#}
{#            <h3 class = "header-text">Model Prediction</h3>#}
{#        </div>#}
{#        <div style = "width: 100%; display: flex; justify-content: center;">#}
{#            <table class="table-bordered text-light table-custom">#}
{#                <tr>#}
{#                    <th>Rank</th>#}
{#                    <th>Class</th>#}
{#                    <th>Probability</th>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>1st</td>#}
{#                    <td>{{ predictions.class1 }}</td>#}
{#                    <td>{{ predictions.prob1 }} %</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>2nd</td>#}
{#                    <td>{{ predictions.class2 }}</td>#}
{#                    <td>{{ predictions.prob2 }} %</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>3rd</td>#}
{#                    <td>{{ predictions.class3 }}</td>#}
{#                    <td>{{ predictions.prob3 }} %</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>4rd</td>#}
{#                    <td>{{ predictions.class4 }}</td>#}
{#                    <td>{{ predictions.prob4 }} %</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>5rd</td>#}
{#                    <td>{{ predictions.class5 }}</td>#}
{#                    <td>{{ predictions.prob5 }} %</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>6rd</td>#}
{#                    <td>{{ predictions.class6 }}</td>#}
{#                    <td>{{ predictions.prob6 }} %</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>7rd</td>#}
{#                    <td>{{ predictions.class7 }}</td>#}
{#                    <td>{{ predictions.prob7 }} %</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <td>8rd</td>#}
{#                    <td>{{ predictions.class8 }}</td>#}
{#                    <td>{{ predictions.prob8 }} %</td>#}
{#                </tr>#}
{##}
{#                <tr>#}
{#                    <td>9rd</td>#}
{#                    <td>{{ predictions.class9 }}</td>#}
{#                    <td>{{ predictions.prob9 }} %</td>#}
{#                </tr>#}
{##}
{#                <tr>#}
{#                    <td>10rd</td>#}
{#                    <td>{{ predictions.class10 }}</td>#}
{#                    <td>{{ predictions.prob10 }} %</td>#}
{#                </tr>#}
{##}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}


<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static' , filename = 'css/normalize.css')}}>
    <link rel="stylesheet" href={{url_for('static' , filename = 'css/grid.css')}}>
    <link rel='stylesheet' href={{url_for('static' , filename = 'css/style.css')}}>
    <link rel='stylesheet' href={{url_for('static' , filename = 'css/styleSucc.css')}}>

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Results Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type='text/css'>
    <title>Audio Event Classification</title>
    <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />

    <style>
        .content {
            max-width: 1000px;
            margin: auto;
        }
        .bg-img{
            width: 100%;
            height: 100vh;
        {#background: #9e9e9e;#}
        {#background-image:linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.7));#}
        {#background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.7)), url('b4.jpg');#}
        {#background-size: cover;#}
        {#background-position: center;#}
        }

    </style>


</head>

<body>
<div class="bg-img" style="width: 100%">
    <div class="content">
        <div class = "index-main">

            <div style = "width : 100%; padding-top : 5%;">
                <div class = "header-content">
                    <h1 style = "text-align: center;color: white"><span class="header-content-text">Audio Event Detection System</span></h1>
                </div>
            </div>

                        <div class = "footer">
                <div class = "header-content-sub">
                    <p style = "text-align: center;color: white" class="header-content-info">The model was trained on Events Audio dataset, and this model was trained on ten forensics related events
                        named,Car Crash, Machine gun, Babycry, Explosion, Gunshot, Footsteps, Glass break, Police siren, Human assault and Scream. The model can perform on both noisy audio and original audio.</p>
                </div>

                <div class = "header-content-sub">
                    <p style = "text-align: center;color:orange" class="header-content-info">Car Crash, Machine gun, Babycry, Explosion, Gunshot, Footsteps, Glass break, Police siren, Human assault and Scream</p>
                </div>
            </div>


            <div class="upload-section">

                <div class="upload-file">
                    <form class = "file-form" action="/success" method="post", enctype="multipart/form-data">
                        <input class="file-form-input" type="file" , name = "file"/>
                        <button class="btn btn-success btn-lg">Upload</button>
                    </form>
                </div>

                <div class="uploadOR">
                    <span>OR</span>
                </div>

                <div class="upload-link">
                    <form class = "link-form" action="/success" method="post", enctype="multipart/form-data">
                        <input class="link-form-input" type="text" ,maxlength="1000" , name = "link" placeholder="Paste the image URL(not the site address)"/>
                        <button class="btn btn-success btn-lg">Proceed</button>
                    </form>
                </div>
                <div class = "header-content-sub">
                    <p style = "text-align: center; margin-top: 15px;color: red" class="header-content-info">{{error}}</p>
                </div>
            </div>




                      <div class = "info">

        <div style = "width: 100% ; display: flex; justify-content: center;">
            <h3 class = "header-text">Model Prediction</h3>
        </div>
        <div style = "width: 100%; display: flex; justify-content: center;">
            <table class="table-bordered text-light table-custom">
                <tr>
                    <th>Rank</th>
                    <th>Class</th>
                    <th>Probability</th>
                </tr>
                <tr>
                    <td>1st</td>
                    <td>{{ predictions.class1 }}</td>
                    <td>{{ predictions.prob1 }} %</td>
                </tr>
                <tr>
                    <td>2nd</td>
                    <td>{{ predictions.class2 }}</td>
                    <td>{{ predictions.prob2 }} %</td>
                </tr>
                <tr>
                    <td>3rd</td>
                    <td>{{ predictions.class3 }}</td>
                    <td>{{ predictions.prob3 }} %</td>
                </tr>
                <tr>
                    <td>4rd</td>
                    <td>{{ predictions.class4 }}</td>
                    <td>{{ predictions.prob4 }} %</td>
                </tr>
                <tr>
                    <td>5rd</td>
                    <td>{{ predictions.class5 }}</td>
                    <td>{{ predictions.prob5 }} %</td>
                </tr>
                <tr>
                    <td>6rd</td>
                    <td>{{ predictions.class6 }}</td>
                    <td>{{ predictions.prob6 }} %</td>
                </tr>
                <tr>
                    <td>7rd</td>
                    <td>{{ predictions.class7 }}</td>
                    <td>{{ predictions.prob7 }} %</td>
                </tr>
                <tr>
                    <td>8rd</td>
                    <td>{{ predictions.class8 }}</td>
                    <td>{{ predictions.prob8 }} %</td>
                </tr>

                <tr>
                    <td>9rd</td>
                    <td>{{ predictions.class9 }}</td>
                    <td>{{ predictions.prob9 }} %</td>
                </tr>

                <tr>
                    <td>10rd</td>
                    <td>{{ predictions.class10 }}</td>
                    <td>{{ predictions.prob10 }} %</td>
                </tr>

            </table>
        </div>
    </div>






        </div>
    </div>


</div>
</body>
</html>